{% extends '_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block title %}
    صفحه اصلی
{% endblock %}
{% block body %}


    <section id="home">
        <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">
                {% for slide in slider %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}">
                        <img src="{{ slide.slider_img.url }}"
                             class="d-block w-100" alt="Slide 1">
                        <div class="carousel-caption">
                            <h1>{{ slide.slider_title }}</h1>
                            <span class="my-5">{{ slide.slider_text }}</span>
                            <a class="py-2 px-4 text-center custom-btn-blue mt-4" href="{% url 'home:all_products' %}">مشاهده
                                همه</a>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>


    <div id="category" class="container">
        <h2 class="text-center mb-5 text-white fw-bold fs-1">دسته بندی محصولات</h2>
        <div class="row g-4">
            {% for cat in category %}
                <div class="col-sm-4">
                    <div class="card position-relative h-80 card-category">
                        <video src="{{ cat.cat_video.url }}" type="video/mp4" autoplay muted loop
                               class="card-img-top"></video>
                        <div class="overlay">
                            <a href="{{ cat.get_absolute_url }}"
                               class="see-product-cat text-decoration-none text-white ">مشاهده
                                محصولات</a>
                        </div>
                    </div>
                    <p class="mt-2 category_name text-center">{{ cat.name }}</p>

                </div>

            {% endfor %}


        </div>
    </div>


    <!-- popular products -->
    <div id="projects" class="carousel-container container mb-5">
        <h2 class="text-center mb-5 text-white fw-bold fs-1">محصولات پرطرفدار</h2>
        <div class="row carousel-track">
            {% for pop in popular_products %}
                <div class="col-md-4 col-12 card-popular h-80" onclick="openModal('{{ pop.id }}')">
                    <img src="{{ pop.product_img.url }}" alt="{{ pop.product_name }}" class="img-fluid">
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal Structure -->
    {% for pop in popular_products %}
        <div id="modal-{{ pop.id }}" class="modal" style="display: none;" onclick="closeModal(event)">
            <div class="modal-content">
                <span class="close" onclick="closeModal(event)">&times;</span>
                <img src="{{ pop.product_img.url }}" alt="{{ pop.product_name }}">
                <p class="fw-bold">{{ pop.product_name }}</p>
                <a class="text-center custom-btn-blue px-3 py-2 mt-2" href="{% url 'home:product_details' pop.id %}">مشاهده
                    محصول</a>
            </div>
        </div>
    {% endfor %}

    <!--video section -->
    <section id="video">
        <div class="container ">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <h2 class=" text-center  mb-2 fw-bold title-advertising">{{ video_section.advertising_title }}</h2>
                    <p class="text-advertising  my-md-5 my-4">
                        {{ video_section.advertising_text }}
                    </p>
                    <div class="ratio ratio-16x9 video-advertising-container mt-2">
                        <video src="{{ video_section.advertising_video.url }}" controls autoplay muted type="video/mp4"
                               loop
                               class="w-100 ">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="content-section mt-5">
        <div id="contact-content ">
            <div class="section-heading">
                <h1 class="text-center mb-5 text-white fw-bold fs-1">ارتباط با ما</h1>
            </div>
            <div class="section-content">
                <form id="contact" method="post" action="{% url 'home:contact_customer' %}">
                    {% csrf_token %}
                    <div class="row flex-lg-row-reverse justify-content-center form-container">
                        <div class="col-lg-5 col-md-5 col-sm-10">
                            <div class="form-group">
                                <input type="text" id="fullNameInput" class="styled-input" required name="customer_fullName">
                                <label for="fullNameInput" class="styled-label">اسم و فامیل</label>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-10">
                            <div class="form-group">
                                <input type="tel" id="phoneInputLogin" name="customer_phoneNumber" class="styled-input" required>
                                <label for="phoneInputLogin" class="styled-label">شماره موبایل</label>
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center mt-3 mb-5">
                            <button type="submit" class="custom-btn-gold py-2 px-3 text-center" >تایید اطلاعات

                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="400px" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div>
    </section>


    <!--footer-->
    <section class="footer">
        <p>Copyright &copy; 2025 Company Name

        </p>
    </section>

{% block scripts %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
{% endblock %}
