/* general style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  
  a {
    text-decoration: none;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }

  .hight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
:root {
  --main-blue: #040B19;
  --white: #fff;
  --black : #000 ;
  --gold-color: #EFC98F;
}

body {
  background-color: var(--main-blue) !important;
  margin: 0;
  padding: 0;
}
/* profile form style */
.profile-container {
    width: 100%;
    max-width: 600px;
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titleProfile {
    margin-bottom: 20px;
    font-size: 22px;
    color: var(--main-blue);
    font-weight: bold;
}

.styled-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    text-align: right;
}

.styled-input:focus {
    border-color: var(--gold-color);
}

.styled-label {
    font-size: 14px;
    color: var(--main-blue);
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: right;
}


.custom-btn-blue {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--main-blue);
  transition: all .8s;
  border: none;
  color: var(--white);
    width: 100%;

}
.custom-btn-blue:hover {
  background: #0a1b3e;
  transform: translateY(-9px)

}
.bottom-links {
    margin-top: 5px;
}

.back-to-home {
    font-size: 30px;
    color: var(--main-blue);
    cursor: pointer;
}


textarea#address {
    resize: none;
}
/* gender style */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: var(--main-blue);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--main-blue);
    border-radius: 100%;
    background: var(--white);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--main-blue);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 767.98px) {
    .hight {
        height: auto;
        padding: 30px 0; 
    }

    .profile-container {
        width: 90%;
        padding: 15px;
    }

    .row.g-3 {
        flex-direction: column-reverse; 
    }

    .col-md-6 {
        width: 100%; 
    }

    .form-group {
        margin-bottom: 10px; }

    .custom-btn-blue {
        font-size: 14px;
        padding: 10px;
        font-weight: bold;
    }



    .d-flex.justify-content-evenly {
        justify-content: space-around; 
    }
}
/* --- Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .hight {
      height: 90vh;
    }
   }